---
import "../style/global.css";
import Artist from "../components/Artist.astro";
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hjem</title>
    <link rel="stylesheet" href="global.css" />
  </head>

  <body>
    <main>
      <Header />
      <div class="grid">
        <Sidebar />
        <Artist />
      </div>
    </main>
  </body>
</html>
