* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

html {
  margin: 20px;
  background-color: black;
}
